body {
	background-color: #999;
}
.home-main {
	background-color: #FFF;
}
.repo-list {
	display: block;
	margin: 0;
	padding: 0;
}
.github-repo-item {
	display: block;
	border: 1px solid #ddd;
	background-color: #FFF;
	padding-top: 15px;
	padding-bottom: 15px;
}
.github-repo-item strong {
	display: block;
}
.github-repo-item a {
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}